.nav-btn {
  display: none;
  padding: 10px 8px;
  margin: 8px 0 3px;
  text-align: center;
  font-size: 28px;
  float: right;
  cursor: pointer;

  @include break(lg) {
    display: inline-block;
  }
}

.nav-main {
  font-weight: 600;

  a {
    color: inherit;
    text-decoration: none;
    padding: 17px 15px 7px;
    display: inline-block;

    @include break(sm) {
      padding-bottom: 4px;
      padding-top: 14px;
    }

    @include break(xs) {
      padding-bottom: 2px;
      padding-top: 12px;
    }
  }

  ul {
    display: flex;
    margin: 10px 0;
    padding: 0;
    list-style: none;

    @include break(lg) {
      display: block;
    }
  }

  @include break-min(lg) {
    display: block !important;
  }

  @include break(lg) {
    width: 100%;
    display: none;
    max-height: calc(100vh - 106px);
    text-align: center;
    overflow: auto;
  }
}

.nav-main__link {
  padding-bottom: 10px;
  position: relative;
  cursor: pointer;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-main;
    content: "";
    opacity: 0;
    transition: opacity ease-out 0.4s;

    .nav-main a:hover &,
    .nav-main li.active & {
      opacity: 1;
    }
  }

  @include break(sm) {
    padding-bottom: 7px;
  }

  @include break(xs) {
    padding-bottom: 5px;
  }
}
