.post-article {
  padding-bottom: 10px;
  border-bottom: 1px $color-border2 solid;
  margin-bottom: 30px;
}

.post-article__img {
  height: auto;
}

.post-article__img-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: all ease-out 0.4s;
  opacity: 0;
  visibility: hidden;

  .post-article__img-wrapper:hover & {
    opacity: 1;
    visibility: visible;
  }
}

.post-article__img-title {
  transform: translateY(10px);
  opacity: 0;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  .post-article__img-wrapper:hover & {
    opacity: 1;
    transform: translateY(0);
  }
}

.post-article__img-wrapper {
  display: block;
  position: relative;
}

.post-article__title {
  margin-top: 25px;

  @include break(md) {
    margin-top: 20px;
  }
}

.post-full__content {
  margin-top: 10px;

  @include break(md) {
    margin-top: 0;
  }
}

.post-full__img {
  border: 1px solid rgba(0, 0, 0, 0.07);
  margin-bottom: 10px;
}

.post-full__title {
  margin-top: 25px;

  @include break(md) {
    margin-top: 20px;
  }
}

.post-preview {
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include break(md) {
    margin-bottom: 40px;
  }
}

.post-preview__img {
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.12);
  transition: all ease-out 0.2s;
  margin-bottom: 20px;

  &:hover {
    transform: translate(-2px, -2px);
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.15);
  }

  @include break(lg) {
    margin-bottom: 10px;
  }

  @include break(md) {
    margin-bottom: 0;
  }
}

.post-preview__title {
  @include break(md) {
    margin-top: 15px;
  }
}
