.bg-contact {
  background-image: url("../images/bg_contact_960.jpg");

  @include break-min(backgrounds) {
    background-image: url("../images/bg_contact_1800.jpg");
  }
}

.bg-img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include z-index(below);
}

.bg-fixed {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include break(sm) {
    background-attachment: scroll;
  }
}

.bg-services {
  background-image: url("../images/bg_addition_960.jpg");

  @include break-min(backgrounds) {
    background-image: url("../images/bg_addition_1920.jpg");
  }
}

.bg-wrapper {
  position: relative;
  overflow: hidden;
  @include z-index(above);
}
