.bg-contact {
  background-image: url("../images/bg_contact_960.jpg");

  @include break-min(backgrounds) {
    background-image: url("../images/bg_contact_1800.jpg");
  }
}

.bg-icon {
  position: relative;
  z-index: 1;
}

.bg-icon__icon {
  position: absolute;
  font-size: 300px;
  opacity: 0.05;
  z-index: -1;

  @include break(md) {
    font-size: 30vw;
  }

  @include break(xxl) {
    font-size: 20vw;
  }
}

.bg-icon__icon--bottom {
  right: -15%;
  bottom: 5%;

  @include break(lg) {
    right: -5%;
  }
}

.bg-icon__icon--top {
  left: -15%;
  top: 5%;

  @include break(lg) {
    left: -5%;
  }
}

.bg-img {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include z-index(below);
}

.bg-fixed {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  @include break(sm) {
    background-attachment: scroll;
  }
}

.bg-services {
  background-image: url("../images/bg_addition_960.jpg");

  @include break-min(backgrounds) {
    background-image: url("../images/bg_addition_1920.jpg");
  }
}

.bg-wrapper {
  position: relative;
  overflow: hidden;
  @include z-index(above);
}
