.box-border {
  display: inline-block;
  position: relative;
  padding: 10px 12px 8px;
  border-radius: 10px;
  border: 1px solid $color-border;
  background-color: #fafafa;
  font-size: 13px;

  &::after {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background-color: #fafafa;
    transform: rotate(45deg);
    content: '';
  }
}

.box-border--left {
  padding-right: 16px;

  &::after {
    left: -7px;
    border-left: inherit;
    border-bottom: inherit;
  }
}

.box-border--right {
  padding-left: 16px;

  &::after {
    right: -7px;
    border-right: inherit;
    border-top: inherit;
  }
}

.box-icon {
  margin-bottom: 60px;
}

.box-icon--offset-top {
  margin-top: 110px;

  @include break(md) {
    margin-top: 70px;
  }

  @include break(sm) {
    margin-top: 50px;
  }
}

.box-icon__box {
  position: relative;
  height: 128px;
  width: 128px;
  margin: 0 auto;
  background-color: $color-main;
  color: #fff;
  transition: background-color ease-out 0.3s;
  font-size: 60px;

  .box-icon:hover & {
    background-color: $color-dark;
  }
}

.box-icon__box--gray {
  background-color: $color-gray;

  .box-icon:hover & {
    background-color: $color-main;
  }
}

.box-icon__box--small {
  width: 50px;
  height: 50px;
  font-size: 20px;
}

.box-icon__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-info {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  .box-info-grid > .grid__item:last-of-type & {
    border: 0;
  }

  @include break-min(lg) {
    border-right: 1px $color-text solid;
  }
}

.box-info--no-border {
  border: 0;
}

.box-info__detail {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $color-gray-light;
}

.box-info__icon {
  align-self: flex-start;
  margin-right: 12px;
  flex: none;
}

.box-info__val {
  text-align: center;
  font-size: 48px;
}

.box-service {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  padding: 8px 15px;
  background-color: $color-dark;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2px;
  margin-left: 6px;

  &::after {
    position: absolute;
    top: 0;
    left: -6px;
    width: 3px;
    height: 100%;
    background-color: $color-main;
    content: '';
  }
}
