.pagination {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.pagination__item {
  display: inline-block;
  margin-right: 4px;
}

.pagination__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.02);
  width: 28px;
  height: 28px;

  &::after,
  &::before {
    position: absolute;
    width: 8px;
    height: 8px;
    opacity: 0;
    content: "";
    transition: all ease-out 0.2s;
    pointer-events: none;
  }

  &::after {
    left: 0;
    top: 0;
    transform: translate(-2px, -2px);
    border-top: 2px solid $color-main;
    border-left: 2px solid $color-main;
  }

  &::before {
    right: 0;
    bottom: 0;
    transform: translate(2px, 2px);
    border-right: 2px solid $color-main;
    border-bottom: 2px solid $color-main;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.06);
    text-decoration: none;
    color: $color-darker;

    &::after,
    &::before {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  .pagination__item.active & {
    color: $color-dark;
    background-color: transparent;

    &::after,
    &::before {
      display: none;
    }
  }
}
